@model CadastroWebVendedores_Mvc.Models.ViewModels.FormularioVendedor
@{
    ViewData["Title"] = "Criar Vendedor";
    <!-- Titilo da página -->
}

<h1>@ViewData["Title"]</h1><!-- Reaproveitamento do titulo-->

<h4>Vendedor</h4>
<hr />

<!-- Formulário para criar um novo vendedor -->

<!-- "row" Criam um layout responsivo-->
<div class="row">

    <!-- "col-md" é a dimensão da tela e o "4" indica que oculpa 4 partes (bootstrap divide a tela em 12 partes) -->
    <div class="col-md-4">
        
        <form asp-action="Create" method="post"> <!-- “Quando esse formulário for enviado, mande os dados para o método Create do Controller atual”-->
           <!-- <div asp-validation-summary="All" class="text-danger"></div> -->
            <div class="form-group">
                <label asp-for="Vendedor.Nome" class="control-label"></label>
                <input asp-for="Vendedor.Nome" class="form-control" />
                <span asp-validation-for="Vendedor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Email" class="control-label"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
                <span asp-validation-for="Vendedor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.DataNascimento" class="control-label"></label>
                <input asp-for="Vendedor.DataNascimento" class="form-control" />
                <span asp-validation-for="Vendedor.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.SalarioBase" class="control-label"></label>
                <input asp-for="Vendedor.SalarioBase" class="form-control" />
                <span asp-validation-for="Vendedor.SalarioBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Vendedor.DepartamentoId" class="control-label"></label>
                    <select asp-for="Vendedor.DepartamentoId" 
                            asp-items="@(new SelectList(Model.Departamentos, "Id", "Nome"))"
                    class="form-control">
                    <option value="">Selecione...</option>
                    </select>
                <span asp-validation-for="Vendedor.DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-Default" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
